body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Permet de prendre en compte la hauteur de l'écran */
}

.header {
  background-color: #FFA500;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #d8a443;
}

.content {
  position: absolute;
  flex: 1;
  padding: 380px;
  color: white;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

button {
  background-color: #28A745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #009f25e4;
}

.footer {
  background-color: c;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }

  .logo {
    font-size: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 5px 0;
  }

  .content {
    padding: 30px;
  }

  h1 {
    font-size: 28px;
  }

  button {
    font-size: 16px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu-icon {
    display: block;
  }

  nav ul.show {
    display: flex;
  }
}
